@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    border-radius: 0.25rem;
    border-color: white;
    background: white;
    color: #508DC7;
    padding: 1rem;
    box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
  }